@media (min-width: 991px) {
	.hero-text {
		position: absolute;
		top: 7rem;
	}
}

/****
	Only built bc of typer will drop down on
	longer lines and will exceed 5 lines of text.
	Making the text overlay the icons.
	!!!If typer changes to only 3 short lines 
	query can be removed!!
***/
@media (min-width: 768px) and (max-width: 990px) {
	.hero-text {
		position: absolute;
		top: 0.2rem;
	}
}


h2:hover {
	cursor: pointer;
}
/**************
 Columns height
**************/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}



/**************
		Hero Row
**************/

.hero-container {
	margin: 1rem 0;
}

.hero-text {
	color: white;
}

#poly-img {
	margin: 1rem 0;
	max-width: 175px;
}

.hero-line {
	margin-top: 0;
	margin-bottom: 0;	
}


/**************
		Quad info
**************/

.full-width-container {
	background-color: #4EB1BA;
}

.stack-icons {
	max-width: 215px;
}


