@media (min-width: 750px) {
	.hero-text {
		position: absolute;
		top: 10rem;
	}
}

/**************
 Columns height
**************/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}



/**************
		Hero Row
**************/

.hero-container {
	margin: 1rem 0;
}

.hero-text {
	color: white;
}

#poly-img {
	margin: 1rem 0;
	max-width: 175px;
}

.hero-line {
	margin-top: 0;
	margin-bottom: 0;	
}


/**************
		Tri info
**************/

.full-width-container {
	background-color: #4EB1BA;
}


