/***
	Main.css
	Applies to all partials
***/

body {
	background-color: #222930;
}

@media all {
	.container {
		max-width: 970px;
	}
}

/**************
		Navbar
**************/

.navbar {
	background-color: #222930;
	border: none;
	border-bottom: thick solid #4EB1BA;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	font-size: 2.3rem;
	color: #E9E9E9;

}

.navbar-default .navbar-nav>li>a {
	font-size: 2rem;
	color: #E9E9E9;
}

/**************
		Columns
**************/

.col-md-5, .col-sm-5 {
	padding-left: 0;
	padding-right: 0;
}

/**************
		Footer
**************/
.footer {
	color: #E9E9E9;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	border-top: medium solid #4EB1BA;
}

.footer-links {
	list-style-type: none;
	margin-bottom: 0;
}

.footer-links li {
	padding: 0 1rem;
	display: inline;
	font-size: 1.5rem;
}

.footer-links li a {
	color: #E9E9E9;
}

.footer-links li a:hover {
	text-decoration: none;
	color: #333;
}