body {
	background-color: #222930;
}

.navbar {
	background-color: #222930;
	border: none;
	border-bottom: thick solid #4EB1BA;

}

.navbar-default .navbar-brand {
	font-size: 2.3rem;
	color: #E9E9E9;

}

.navbar-default .navbar-nav>li>a {
	font-size: 2rem;
	color: #E9E9E9;
}


/*#4EB1BA*/
/*#E9E9E9*/