@import url(https://fonts.googleapis.com/css?family=Monda);

body {
	background-color: rgba(1, 1, 1, 0.5);
}


.navContainer {
	background-color: #1cd046;
	opacity: 0.70;
}

.nav li {
	font-size: 2.25rem;
}


/* Selfie */

.bigHead {
	padding-top: 0.75rem;
}

.selfie {
	height: 92vh;
}

/* Projects */
.projects {
	background: black;
	height: 92vh;
}

.projectHeader {
	color: white;
	text-align: center;
}

/* Making / in the work column */

.making {
	background: blue;
	height: 92vh;
}

.makingHeader {
	color: white;
	text-align: center;
}