/***
	Project.css
	Applies to only the project page

	!!!!If text and changed margins in media queries will need to be changed 
	All positioning is relative and size change of anthing on the page will 
	throw off pixel based margins!!!
***/

@media (min-width: 992px) {


	.project-left {
		margin-top: 22px;
	}

	.project-right {
		margin-top: 92px;
	}

	.project-left .project:nth-child(2) {
		margin-top: 35px;
	}

	.project-right .project:nth-child(2) {
		margin-top: 112px;
	}
}


@media (min-width: 750px) and (max-width: 991px){

	.project-left {
		margin-top: 35px;
	}

	.project-right {
		margin-top: 120px;
	}

	.timeline img {
		height: 450px;
	}

	.project-left .project:nth-child(2) {
		margin-top: 90px;
	}

	.project-right .project:nth-child(2) {
		margin-top: 170px;
	}
}


/*************
Project Panel
*************/
.panel-primary {
	border-color: #4EB1BA;
}

.panel-primary>.panel-heading {
	background-color: #4EB1BA;
	border-color: #4EB1BA;
}

/*************
	panel title
*************/

.panel-title {
	width: 100%;
	font-size: 22px;
}

.site-url:hover {
	color: black;
}

.fa-github, .fa-globe {
	color: white;
	font-size: 27px;
}

.fa-github:hover, .fa-globe:hover {
	color: black;
}