/***
	Project.css
	Applies to only the project page
***/

@media (min-width: 750px) {
	.project-left {
		margin-top: 33px;
	}

	.project-right {
		margin-top: 116px;
	}
}


/*************
Project Panel
*************/
.panel-primary {
	border-color: #4EB1BA;
}

.panel-primary>.panel-heading {
	background-color: #4EB1BA;
	border-color: #4EB1BA;
}

/*************
	panel title
*************/

.panel-title {
	width: 100%;
	font-size: 22px;
}

.site-url:hover {
	color: black;
}

.fa-github, .fa-globe {
	color: white;
	font-size: 27px;
}

.fa-github:hover, .fa-globe:hover {
	color: black;
}