<div class='container'>
	<div class='row'>
		<div class='hidden-xs col-sm-1 col-md-1'></div>
		<div class='poly-columns hidden-xs col-sm-2 col-md-2'>
			<img id='poly-img' src='img/polyselfie.svg' alt='polygon selfie' />
		</div>
		<div class='hero-container col-xs-12 col-sm-9 col-md-9'>
			<div class='hero-text'>
				<h1 class='hero-line' typer-dir text="Hi, I'm Ethan." type-delay="100" initial-delay="1s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="A software developer in Colorado." type-delay="100" initial-delay="3.5s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="rm -rf *" type-delay="100" initial-delay="7.75s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="just kidding" type-delay="100" initial-delay="9.25s" blink-cursor="true"></h1>
			</div>
		</div>
	</div>
</div>
<div class='full-width-container'>
	<div class='container'>
		<div class='quad-info row'>
			<div class='col-xs-12 col-sm-6 col-md-3 text-center'>
				<h2><img class='stack-icons' src='img/front-end.svg' alt='front end icon' /></h2>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>Angular</li>
				</ul>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 text-center'>
				<h2><img class='stack-icons' src='img/back-end.svg' alt='front end icon' /></h2>
				<ul>
					<li>Node.js</li>
					<li>Express.js</li>
					<li>something else...</li>
				</ul>	
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 text-center'>
				<h2><img class='stack-icons' src='img/db.svg' alt='front end icon' /></h2>
				<ul>
					<li>PostgreSQL</li>
					<li>MongoDB</li>
					<li>mLab</li>
				</ul>
			</div>
			<div class='col-xs-12 col-sm-6 col-md-3 text-center'>
				<h2><img class='stack-icons' src='img/tools.svg' alt='front end icon' /></h2>
				<ul>
					<li>VCS-Git</li>
					<li>Mac CLI</li>
					<li>Chrome tools</li>
				</ul>
			</div>
		</div>
	</div>
</div>