<div class='container'>
	<div class='row'>
		<div class='hidden-xs col-sm-1 col-md-1'></div>
		<div class='poly-columns hidden-xs col-sm-2 col-md-2'>
			<img id='poly-img' src='img/polyselfie.svg' alt='polygon selfie' />
		</div>
		<div class='hero-container col-xs-12 col-sm-9 col-md-9'>
			<div class='hero-text'>
				<h1 class='hero-line' typer-dir text="Hi, I'm Ethan." type-delay="100" initial-delay="1s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="A software developer in Colorado." type-delay="100" initial-delay="3.5s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="rm -rf *" type-delay="100" initial-delay="7.75s" blink-cursor="false"></h1>
				<h1 class='hero-line' typer-dir text="just kidding" type-delay="100" initial-delay="9.25s" blink-cursor="true"></h1>
			</div>
		</div>
	</div>
</div>
<div class='full-width-container'>
	<div class='container'>
		<div class='tri-info row'>
			<div class='col-sm-4 col-md-4'>
				<h1>Stuff</h1>
			</div>
			<div class='col-sm-4 col-md-4'>
				<h1>Stuff</h1>

			</div>
			<div class='col-sm-4 col-md-4'>
				<h1>Stuff</h1>

			</div>
		</div>
	</div>
</div>