<div class='row'>
	<div class='poly-columns hidden-xs col-sm-3 col-md-3'>
		<img id='poly-img' src='img/polyselfie.svg' alt='polygon selfie' />
	</div>
	<div contentEditable='true'class='terminal col-xs-12 col-sm-9 col-md-9'>
		<h4>Last login: {{ HC.getDate() | date:'EEE MMM dd h:mm:ss' }} on ttys001</h4>
		<h4>Ethans-portfolio:~ User$ <span id='cursor'>
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width='8' height='18' viewBox="0 0 4 8.33">
	    <defs>
	        <style>
	            .cls-1 {
	                fill: #fff;
	                stroke: #fff;
	                stroke-miterlimit: 10;
	            }
	        </style>
	    </defs>
	    <title>cursor</title>
	    <rect class="cls-1" x="0.5" y="0.5" width="3" height="7.33" />
		</svg>
		</span></h4>
	</div>
</div>