<div class='row'>
  <div class='col-sm-5 col-md-5'>
    <svg id="card" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 257.5 234.22">
      <defs>
          <style>
              .cls-1 {
                  fill: #2b3087;
              }
              .cls-2 {
                  fill: #fff;
              }
          </style>
      </defs>
      <title>card</title>
      <rect class="cls-1" width="244" height="48.5" />
      <polygon class="cls-1" points="257.5 17.25 244 34.5 244 0 257.5 17.25" />
      <rect class="cls-2" y="38.5" width="244" height="199.72" />
    </svg>
  </div>
  <div class='col-sm-2 col-md-2 text-center'>
    <img src='img/timeline.svg' alt='time lin' />
  </div>
  <div class='col-sm-5 col-md-5'>
  </div>
</div>
<div class='row'>
  <div class='col-sm-5 col-md-5'>
  </div>
  <div class='col-sm-2 col-md-2 text-center'>
    <img src='img/timeline.svg' alt='time lin' />

  </div>
  <div class='col-sm-5 col-md-5'>
  </div>
</div>